S3method(plot,GClm)
S3method(predict,GClm)
S3method(print,GClm)
S3method(print,GCttest)
S3method(print,gcp1test)
S3method(print,gcp2test)
export(BinomNorm)
export(BinomSkew)
export(CIMean)
export(CIProp)
export(ChisqSimSlow)
export(DtrellHist)
export(DtrellScat)
export(EmpRule)
export(EmpRuleGC)
export(FindRegLine)
export(MeanSampler)
export(ParseFormula)
export(Points2Watch)
export(PropSampler)
export(RandomExp)
export(RegEstimate)
export(SampDist2Means)
export(SampDist2Props)
export(SampDistMean)
export(ShallowReg)
export(SimpleRandom)
export(Skewer)
export(SlowGoodness)
export(Type12Errors)
export(Variability)
export(VaryCorrelation)
export(barchartGC)
export(binomtestGC)
export(chisq.testGC)
export(chisqtestGC)
export(colPerc)
export(lmGC)
export(pbinomGC)
export(pchisqGC)
export(pnormGC)
export(popsamp)
export(proptestGC)
export(ptGC)
export(rowPerc)
export(tExplore)
export(tSampler)
export(theme.rpres)
export(themerpres)
export(ttestGC)
import(lattice)
importFrom(stats,binom.test,t.test,prop.test)
